.formulario {
    border: 1px solid white;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
  }
  
  .header-contact {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .field-name,
  .field-email,
  .field-message {
    margin-bottom: 20px;
  }
  
  .symbol-required {
    color: rgb(255, 255, 255); /* Cambia el color de asterisco requerido según tu preferencia */
  }
  