.contenedor {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contenedor {
    flex-direction: row;
  }
}

.columna {
  flex: 1;
}

.imagen {
  max-width: 100%;
  height: auto;
}
