{% extends 'base/logsing.html' %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<main class="pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% if pedidos %}
          <h2 class="mb-4">Lista de Pedidos:</h2>
          {% for pedido in pedidos %}
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Código de Pedido: {{ pedido.codigo_pedido }}</h5>
                <p class="card-text"><strong>Fecha del Pedido:</strong> {{ pedido.fecha }}</p>

                <h6 class="mt-3">Productos del Pedido:</h6>
                <ul class="list-group">
                  {% for item in pedido.itempedido_set.all %}
                    <li class="list-group-item">{{ item.product.name }} - Cantidad: {{ item.cantidad }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No tiene ningún pedido</h4>
            <p>Realice una compra para ver sus pedidos aquí.</p>
          </div>
        {% endif %}
        
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark mt-3">Volver</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
