/* producto-responsive.css */

@media screen and (max-width: 768px) {
    /* Estilos para pantallas con ancho máximo de 768px */
    .text-5xl {
        font-size: 3rem; /* Reducir el tamaño del texto */
    }
    .form-select {
        width: 100%; /* Hacer que el select ocupe todo el ancho disponible */
        margin: 0%;
    }

    .mt-4{
        line-height: 1.5rem;
    }
    .img{
        margin: 12%;
    }

    .text{
        font-size: 30px;
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 1024px){

    .img{
        margin: 15%;
    }

  

    .text{
        font-size: 60px;
        margin-left: 12%;
    }

    .add{
        margin-left: 30%;
        padding-left: 6%;
        padding-right: 6%;
    }
    
}