{% extends 'base/admin.html' %}

{% block title %}
Borrar pedido
{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar pedido</h4>
            <p>¿Realmente deseas borrar este pedido: {{ object.name }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar pedido</button>
            <a href="{% url 'core:pedido' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}  