.item {
height: 500px;
}

.d-img {
    height: 100%;
    object-fit: cover;
  
}



*::after,
*::before,
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height:40px;
}

img{
    max-width: 100%;
}

/*H E A D E R */

header{
    display: flex;
    justify-content: space-between;
    padding: 30px, 0 40px 0 ;

}



.container-items{
    display: grid;
    grid-template-columns:  repeat (3,1fr);
    gap: 20px;
}

.item{
   border-radius: 10px ; 
}  

.item:hover {
    box-shadow: 0 10px 20px rgb(0, 0, 0,0.20)
}
 


.item {
    width: 100% ;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
    transition: ass .5s;
   
}
.item figure{
    overflow:  hidden ;
}

.item:hover img{
    transform: scale(1.2) ;
}

.info-product{
    padding: 15px 30px; 
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff; 
    padding: 15px 10px;
    cursor:pointer;
}

